* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
}

/* App.css */
html, body {
    height: 100%;
    margin: 0;
    background-color: black;
}

.appContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainContent {
    flex: 1;
}


.generalClass {
    min-height: 100vh;
    color: white;
    background-color: black;
}

.titleClass {
    background: linear-gradient(to right, rgba(187, 18, 142, 0.867), rgba(231, 76, 60, 0.867));
    border-radius: 20px;
    color: black;
    padding: 30px;
}

.subtitleClass {
    padding-top: 20px;
    color: white;
}

.bodyClass {
    padding-top: 150px;
    background-color: black;
    min-height: 76vh;
}

.boxClass {
    padding: 40px;
    flex: 1;
    text-wrap: wrap;
    font-size: 1.5em;
    margin: 5px 10px;
    border-radius: 15px;
    text-align: center;
    color: black;
    background: linear-gradient(to left, rgba(238, 162, 39, 0.867), rgba(231, 76, 60, 0.867));
}

.aboutClass{
    vertical-align: auto;
    justify-content: center;
    text-align:justify;
    align-items: center;
    padding: 40px 100px;
    background-color: #ffffffb9;
    border-radius: 20px;
}

.aboutParagraph {
    font-size: 2.3em;
    font-style: italic;
}

.flexAbout {
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}

.fullScreen {
    height: 100vh;
}

.education_box {
    cursor: pointer;
    text-decoration: none;
}



@media (max-width: 1000px) {
    * {
        font-size: 10px;
    }
}