
.iconClass {
    font-size: 2em;
    margin-right: 10px;
}

.iconClass_1 {
    font-size: 1em;
    margin-right: 5px;
    color: #000;
}

.iconClass_2 {
    font-size: 3em;
    margin-right: 5px;
    color: #000;
}